<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
        background-color:burlywood;
        }
        h1
        {
            color: rgb(236, 8, 206);
        }
    </style>
</head>
<body>
    <center>
        <h1>WELCOME TO PRASAD HTML PAGE </h1>
        <a href="{% url 'app1:ram' %}">  <h3>go to ram html page</h3></a><br>
        <a href="{% url 'app2:eswar' %}"> <h3 >go to eswar html page </h3></a><br>
        <a href="{% url 'app2:laxman' %}">  <h3>go to laxman html page</h3></a>

    </center>
    
</body>
</html>